*.txt
*.log
*_synth.v
*.history
*.refwire
*.refparam
*.refcomp
*.pos
*.pathes
*.path_struc
*.net
*.id
*.prn
*_00.v
*.used
*.sdf
*.place
*.pin
*_00.cfg*
*.cdf
*.vcd
*.vvp
*.gtkw
*.idh
obj_dir/
DEADJOE
